es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12

spacy==3.8.13
jieba==0.42.1
underthesea>=9.5.0,<10

pre-commit==4.6.1
mypy==2.3.0
ruff==0.16.0